.screen {
    height: 100px;
    background-color: black;
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: flex-end;*/
    /*align-items: flex-end;*/
    padding: 2%;
}

.screen input {
    color: white;
    font-size: 50px;
    width: 100%;
    background-color: black;
    border-style: none;
    direction: rtl;
}
