/* All styles for your Card Components live here */

.card-container {
    border: 2px solid #b188db;
    margin: 0.5%;
}

img {
    max-width: 100%;
}

.card-wrapper {
    border: 1px solid lightgrey;
    margin: 0.5% 0.5% 0.5% 8%;
}

.card-content-wrapper {
    margin-top: 2%;
}

.text-color-light {
    color: #9c9c9c;
}
