.footer {
    display: flex;
    align-items: center;
    border: 2px solid #ffc800;
    height: 70px;
    margin: 0.5%;
}

.footer-icon-bubble {
    margin-left: 8%;
}

.footer-icon {
    margin-left: 10%;
    position: relative;
}

.icon-count {
    color: #9c9c9c;
    font-weight: bold;
    position: absolute;
    left: 32px;
    bottom: 22%;
}
